{% extends "basetemplate.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block appcontent %}
<h1>Video list</h1>
<table class="table table-hover">
    {% for video in videos %}
    <tr>
        <td>
            <a href="{{ url_for('videoapp.video_info',id=video.id) }}">{{ video.title }}</a>
        </td>
        <td>
            <a href="{{ url_for('videoapp.video',id=video.id) }}">View</a>
        </td>
    </tr>
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous {% if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer
            </a>
        </li>
        <li class="next {% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true">&rarr;</span>Older
            </a>
        </li>
    </ul>
</nav>
{% endblock %}