{% extends "basetemplate.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block appcontent %}
<h1>Video list</h1>
<table class="table table-hover">
       <tr>
        <th>
            Title
        </th>
        <th>
            Torrent status
        </th>
        <th>
            Torrent progress
        </th>
        <th>
            ETA
        </th>
        <th>
            View
        </th>
        {% if current_user.admin %}
        <th>
            Delete
        </th>
        {% endif %}
    </tr>
    {% for video in videos %}
    <tr>
        <td>
            <div class="video_title">
                <a href="{{ url_for('videoapp.video_info',id=video.id) }}">{{ video.title }}</a>
                <span hidden="True">{{ video.id }}</span>
            </div>
        </td>
        <td>
            {{ video.torrent_status }}
        </td>
        <td>
            {% if video.torrent_id > 0 %}
            {{'%0.2f' % video.torrent_progress|float}}%
            {% endif %}
        </td>
         <td>
            {% if video.torrent_id > 0 %}
            {{ video.torrent_eta }}
            {% endif %}
        </td>
        <td>
            {% if video.torrent_status == 'completed' %}
            <a href="{{ url_for('videoapp.video',id=video.id) }}">View</a>
            {% else %}
            View
            {% endif %}

        </td>
        {% if current_user.admin %}
        <td>
           <form action="{{ url_for('videoapp.delete_video', id=video.id) }}" method=post class=del-component>
                <button class="btn btn-danger">
                    Delete
                </button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<nav aria-label="...">
    <ul class="pager">
        <li class="previous {% if not prev_url %} disabled {% endif %}">
            <a href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span>Newer
            </a>
        </li>
        <li class="next {% if not next_url %} disabled{% endif %}">
            <a href="{{ next_url or '#' }}">
                <span aria-hidden="true">&rarr;</span>Older
            </a>
        </li>
    </ul>
</nav>
{% endblock %}